<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.demo.sapling.mapper.SaplingDemandMapper">
    <select id="showlist" resultType="org.jeecg.modules.demo.sapling.entity.SaplingDemand">
        select  * from  Sapling_demand where demand_name = '红杉'
    </select>

</mapper>